*
!.config/
.config/*

# Fish-shell
!.config/fish
.config/fish/*
!.config/fish/config.fish
!.config/fish/functions

# Zsh
!.zshrc

# Git
!.gitconfig

# Rubocop
!.rubocop.yml

# Gitignore
!.gitignore

# Taskwarrior
!.taskrc

# Gitignore global
!.gitignore_global
